{% extends "website/base.html" %}

{% block title %}transactions{% endblock %}
{% block content %}

{% if messages %}
<div class="alert alert-danger">
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<style>
  /* Personalizzazione del margine del div container */
  .custom-container {
    margin: 20px auto; /* Margin: 20px su tutti i lati, e auto per il margine orizzontale per centrare il contenitore */
  }
</style>

<div class="custom-container m-4 ">
    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            {{ fig_pie_income | safe }}
        </div>
        
        <div class="col-md-6">
            {{ fig_pie_expenditure | safe }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            {{ fig_line_income | safe }}
        </div>
        
        <div class="col-md-6">
            {{ fig_line_expenditure | safe }}
        </div>
    </div>
  

    <div class="row">
        <div class="col-md-4 mx-auto">
            <!-- Form for Income Registration -->
            <form method="post" action="{% url 'transactions:transaction_registration' %}" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ income_form.date.id_for_label }}">Date:</label>
                    <input type="date" class="form-control" id="{{ income_form.date.id_for_label }}" name="{{ income_form.date.name }}" value="{{ today }}">
                </div>
                <div class="form-group">
                    <label for="{{ income_form.amount.id_for_label }}">Amount:</label>
                    <input type="number" step="0.01" class="form-control" id="{{ income_form.amount.id_for_label }}" name="{{ income_form.amount.name }}">
                </div>
                <div class="form-group">
                    <label for="{{ income_form.description.id_for_label }}">Description:</label>
                    <input type="text" class="form-control" id="{{ income_form.description.id_for_label }}" name="{{ income_form.description.name }}">
                </div>
                <div class="form-group m-2">
                    <label for="{{ income_form.type.id_for_label }}">Type:</label>
                    {{ income_form.type }}
                </div>
                <div class="form-group m-2">
                    <label for="{{ income_form.bank_account.id_for_label }}">Bank Account:</label>
                    {{ income_form.bank_account }}
                </div>
                <div class="form-group m-2">
                    <label for="{{ income_form.cash.id_for_label }}">Cash Entity:</label>
                    {{ income_form.cash }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register Income</button>
                </div>
            </form>
        </div>


        <div class="col-md-4 mx-auto">
            <!-- Form for Expense Registration -->
            <form method="post" action="{% url 'transactions:transaction_registration' %}" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ expenditure_form.date.id_for_label }}">Date:</label>
                    <input type="date" class="form-control" id="{{ expenditure_form.date.id_for_label }}" name="{{ expenditure_form.date.name }}" value="{{ today }}">
                </div>
                <div class="form-group">
                    <label for="{{ expenditure_form.amount.id_for_label }}">Amount:</label>
                    <input type="number" step="0.01" class="form-control" id="{{ expenditure_form.amount.id_for_label }}" name="{{ expenditure_form.amount.name }}">
                </div>
                <div class="form-group">
                    <label for="{{ expenditure_form.description.id_for_label }}">Description:</label>
                    <input type="text" class="form-control" id="{{ expenditure_form.description.id_for_label }}" name="{{ expenditure_form.description.name }}">
                </div>
                <div class="form-group m-2">
                    <label for="{{ expenditure_form.type.id_for_label }}">Type:</label>
                    {{ expenditure_form.type }}
                </div>
                <div class="form-group m-2">
                    <label for="{{ expenditure_form.bank_account.id_for_label }}">Bank Account:</label>
                    {{ expenditure_form.bank_account }}
                </div>
                <div class="form-group m-2">
                    <label for="{{ expenditure_form.cash.id_for_label }}">Cash Entity:</label>
                    {{ expenditure_form.cash }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register Income</button>
                </div>
            </form>
        </div>
    </div>
     <div class="row justify-content-center">
        <a href="{% url 'transactions:recurring_transaction' %}" class="col-md-6 btn btn-primary mx-auto">Create Recurring Transaction</a>
    </div>
</div>


  <div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h2>Income</h2>
                <table id="income-table" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="col-2">Data</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in incomes %}
                        <tr>
                            <td class="col-2">{{ income.date }}</td>
                            <td>{{ income.amount }}</td>
                            <td>{{ income.description }}</td>
                            <td>{{ income.type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Expenses</h2>
                <table id="expenses-table" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="col-2">Data</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expenditure in expenditures %}
                        <tr>
                            <td class="col-2">{{ expenditure.date }}</td>
                            <td>{{ expenditure.amount }}</td>
                            <td>{{ expenditure.description }}</td>
                            <td>{{ expenditure.type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>

<div class="fixed-bottom fixed-start p-3">
  <a href="{% url 'transactions:base' %}" class="btn btn-primary">Back to Main Page</a>
</div>




<script>
$(document).ready(function() {
    // Inizializza DataTable per la tabella degli income
    var incomeTable = $('#income-table').DataTable();

    // Inizializza DataTable per la tabella delle expenses
    var expensesTable = $('#expenses-table').DataTable();

});
</script>


{% endblock %}
